* { 
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

p {
    margin-bottom: 20px;
}

/* Float */

/* .wrapper {
    min-height: 100%;
    width: 100%;
}
  
.side-bar {
    float: left;
    width: 250px;
    height: 100vh;
    background-color: #4B0082;
    color: #FFFFFF;
    padding-top: 20px;
}
  
.main {
    float: right;
    height: 100%;
    width: calc(100% - 255px);
    background-color: #FFFFFF;
    padding: 20px 20px 0 20px;
    text-align: justify;
} */

/* Inline-block */

/* .wrapper {
    min-height: 100%;
    width: 100%;
}
  
.side-bar {
    display: inline-block;
    width: 250px;
    height: 100vh;
    background-color: #4B0082;
    color: #FFFFFF;
    vertical-align: top;
    padding-top: 20px;
}
  
.main {
    display: inline-block;
    height: 100%;
    width: calc(100% - 255px);
    background-color: #FFFFFF;
    padding: 20px 20px 0 20px;
    text-align: justify;
} */

/* Flexbox */

.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100%;
}
  
.side-bar {
    width: 250px;
    background-color: #4B0082;
    color: #FFFFFF;
    padding-top: 20px;
}
  
.main {
    height: 100%;
    width: calc(100% - 255px);
    background-color: #FFFFFF;
    padding: 20px 20px 0 20px;
    text-align: justify;
}