* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 2fr 1fr;
    min-height: 100%;
}

.block-decoration {
    border: solid 5px rgb(255, 0, 0);
    text-align: center;
}

.header {
    grid-row: 1/2;
    grid-column: 1/4;
}

.left-column {
    grid-row: 2/3;
    grid-column: 1/2;
}

.center-column {
    grid-row: 2/3;
    grid-column: 2/3;
}

.right-column {
    grid-row: 2/3;
    grid-column: 3/4;
}

.footer {
    grid-row: 3/4;
    grid-column: 1/4;
}